 a { 
    text-decoration: none; 
    color: black;
   } 
/*Header*/

.header {
	padding: 50px 0;
	background-color: black;
}
.header h1,
.header h2 {
	color : white;
	text-align: center;
}
/*Main*/
.container1, .container2 {
	display: inline-block;
	float: left;
	box-sizing: border-box;
	margin: 50px;
	font-size: 20px;
}
.container1{
	text-align: left;
	width: 30%;
	font-size: 20px;
}
.content{
	display: inline-block;
	float: left;
	overflow: auto;
	text-align: center;
	display: inline-block;
	
	width: 67%;

}
.main{
	margin: 0 auto;
	text-align: center;
	width: 100%;
	height: auto;
}
.contant-photo{
display: inline-block;
	float: left;
	width: 33%;
}
#photo{
	width: 80%;
	margin-top: 10%;
	
}
.biography{
	font-size: 30px;
}
.container1-text{
	margin-top: 5%;
}
.container2-text{
	margin-top: 5%;
	text-align: left;
}
.container2{
	width: 30%;
}
/*Footer*/
.footer{
	font-size: 25px;
}
